@import './font.scss';

.signup-container {
  & { font-family: $handwriting !important; display: flex; justify-content: center; align-items: center; width: 91%; height: 85%; margin: auto; box-sizing: border-box; }
  .signup-form {
    & { max-width: 400px; width: 95%; height: 100%; position: relative; background: #F652A0; overflow: hidden; }
    .form-content {
      & { display: flex; flex-direction: column; height: 100%; justify-content: space-around; padding: 20px; box-sizing: border-box; 
        position: relative; z-index: 1; }
      .signup-element {
        & { font-size: 2em; border: none; padding: 4px; background: #BCECE0; color: #000; text-align: center; }
        &::placeholder { color: #000; }
        &:focus { border: 0px solid gray; }
      }
      .signup-btn { & { cursor: pointer; } }
      .error-message { position: absolute; bottom: 16px; left: 0; width: 100%; text-align: center; }
    }
    .wave-patterns { 
      & { position: absolute; bottom: 0; width: 200vw; left: -50%; }
      svg { width: 100%; position: absolute; bottom: 0; }
    }
    .google-signin { background: #b2f2bb; cursor: pointer; }
  }
}